*
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: black;
}
html {
    width: 100%;
    min-width: 1200px;

}
.none_pos {
    position: relative !important;
}
.auto {
    height: auto !important;
}
.null {
    height: 80px;
    width: 100%;
    display: inline-block;
}
.link {
    cursor: pointer;
    text-decoration: underline;
}
.link:hover {
    text-decoration: none;
}