header {
    width: 100%;
    height: 140px;

}

footer {
    margin-bottom: -142px;
    width: 100%;
    height: 142px;
    position: absolute;
    left: 0;
    bottom: 0;

}
.main {
    width: 100%;
    display: inline-block;
    position: relative;
}
html{


}
body {
    width: 100%;
    position: relative;
    background-color: ghostwhite;
}
.width {
    width: 1152px;
    margin: 0 auto;
    position: relative;
}
.logo {
    padding-top: 33px;
    width: 277px;
    float: left;

}
.up_contact {
    text-align: center;
    float: right;
    width: 316px;
    top: 0;
    margin-top: 12px;
    margin-left: 140px;
}
.up_adress {
    width: 153px;
    height: 41px;
    float: left;
    background-color: white;
    box-sizing: border-box;
    padding: 9px;
    font-weight: 300;
    font-size: 16px;
}
.up_phone {
    width: 153px;
    height: 41px;
    float: left;
    background-color: white;
    margin-right: 10px;
    box-sizing: border-box;
    padding: 9px;
    font-weight: 300;
    font-size: 16px;
}
/* меню */
.menu {
    float: right;
    margin-top: 20px;
}
.menu li {
    margin-top: 20px;
    display: inline;
    margin-left: 39px;
}
.menu li a {
    font-size: 16px;
    font-weight: 300;
}
.menu a:hover {
    text-decoration: none;
}
.to {
    padding: 4px 12px;
    background-color: #d0011b;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
/*Баннер*/

.banner {
    width: 1152px;
    height: 397px;
    overflow: hidden;
}
.simpleBanner {
    position: relative;
}
.bannerListWpr {
    width: 100%;
    height: 365px;
    overflow: hidden;
}
.bannerIndicator{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin:0px 5px;
    background-color: #d0011b;
}
.bannerIndicators{
    margin-top: 16px;
    text-align: center;
}

.simpleBanner .bannerListWpr ul li {
    float: left;
    width: 960px;
    display: inline-block;
    height: 365px;
}
.simpleBanner .bannerIndicators .bannerIndicator.current {
    background: none;
    cursor: default;
    border: 2px solid black;
    box-sizing: border-box;
}
.simpleBanner .bannerIndicators .bannerIndicator {
 cursor: pointer;
}
.simpleBanner .bannerControlsNext {
    width: 43px;
    height: 45px;
    background-color: #000000;

}
.bannerControlsWpr {
    width: 43px;
    height: 45px;
    position: absolute;
    z-index: 1;
    top: 37%;
    cursor: pointer;

}
.bannerControlsNext {
    background:#000000 url(../img/prev.svg) no-repeat center;
    right: 0;
    position: absolute;
    transform: rotate(180deg);
}
.bannerControlsPrev {
    background: #000000 url(../img/prev.svg) no-repeat center;
    left: 0;
    position: absolute;
}


.key {
    text-align: center;
    margin-top: 72px;
}
.plan {
    background-color: white;
    width: 100%;
    height: 500px;
    margin-top: 90px;

}
.news {
    margin-top: 40px;
    width: 100%;

}
.title {
    font-weight: 600;
    margin-top: 15px;
    display: inline-block;
    width: 100%;
}

.one {
    width: 560px;
    margin-right: 28px;
    display: inline-block;
    float: left;
}
.two {
    width: 560px;
    display: inline-block;
}
.two a,.one a{
    margin-top: 10px;
    display: inline-block;
}
.two p,.one p{
    margin-top: 10px;
}
.map {
    width: 100%;
    height: 365px;
    margin-top: 75px;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
}

.maps_about {
    text-align: center;
    width: 287px;
    height: 334px;
    background-image: url(../img/map.png);
    position: absolute;
    right: 29px;
    top:-25px;
    box-sizing: border-box;
    padding: 75px 20px 0 20px;
    z-index: 1;
}
.maps_about p,.maps_about a  {
    color: white;
}
.maps_about_title{
     font-size: 16px;
 }
.maps_about_adres {
    margin-top: 30px;

}
.maps_about_mail {
    margin-top: 3px;

}
.maps_about_phone {
    margin-top: 30px;

}
.reviews {
    text-align: center;
    margin-top: 52px;
}

.reviews span {
    font-size: 16px;
    margin-bottom: 34px;
    display: inline-block;
}
.content {
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    margin-bottom: 15px;
    text-align: left;
}
.content span {
    margin-top: 5px;
    margin-bottom: 10px;
}
.content img {
    float: left;
    margin-right: 10px;
}
.left {
    display: inline-block;
    margin-top: 5px;
}
.left li{
    display: inline;
}
.left span{
    float: left;
}
.left ul {
    margin-left: 110px;
    display: inline-block;
}
.right {
    float: right;
}
.social li{
    display: inline;

}
.lavuix {
    float: right;
    width: 100%;
    margin-top: 12px;
    text-align: right;
}


.flour {
    width: 100%;
    position: relative;
}

.flour_about {
    text-align: center;
    width: 316px;
    height: 505px;
    background-image: url(../img/plan.png);
    position: absolute;
    right: 29px;
    top:-25px;
    box-sizing: border-box;
    padding: 75px 20px 0 20px;

}
.flour_about p,.flour_about a  {
    color: white;
}
.flour_about_title{
    font-size: 16px;
}
.flour_about_desc {
    margin-top: 30px;

}
.flour_about_arend {
    margin-top: 30px;

}
.flour_about_done {
    margin-top: 30px;

}
.flour button {
    position: absolute;
    bottom: 49px;
    width: 193px;
    height: 44px;
    background-color: #d0021b;
    color: white;
    border: none;
    left: 21%;
}
button:hover {
    background-color: #f90219;
    cursor: pointer;
}
.plan {
    position: relative;
}
.tab {
    position: absolute;
    left: 30px;
    top:30px;
    z-index: 2;
}
.tab li{
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    width: 131px;
    height: 38px;
    border: 1px solid #000000;
    cursor: pointer;
}
.tab a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 31px;
    cursor: pointer;

}
.activepan {

}

.active {
    border: 1px solid #d0011b !important;
    color: #d0011b;
    cursor: default ;
}
.active a {
    border:none !important;
    text-decoration: none;

}
.tab li:hover {
    border: 1px solid #d0011b;
}
.tab a:hover {
    color: red;
    text-decoration: none;
}

.first_flour {
    margin-top: 89px;
    margin-left: 29px;
    width: 858px;
    height: 372px;
    display: inline-block;
}



.container {
    position: absolute;
    width: 100%;
    height: 100%;
    /* margin: 0 auto; */
    /* padding: 5%; */
    z-index: -9999;
    top: 0;
}

.scene, .layer {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.scene {
    position: relative;
    overflow: hidden;
}

.layer {
    position: absolute;
}

.layer div {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.one_s {
    text-align: right;
    margin-right: 20%;
}
.two_s {
    text-align: left;
}
.three_s {
    text-align: left;
    margin-left: 10%;
    margin-top: 20%;
}
.four_s {
    text-align: right;
    margin-top: 15%;
    margin-right: 4%;
}
.four_s img {
    display: block;
    float: right;
    margin-right: -430px;
}
.five_s {

}
.gallery li {
    width: 364px;
    margin: 4px 8px 4px 8px;
    height: 364px;
    display: inline-block;
}
.gallery {
    background-image: url(../img/galleryback.png);
    background-repeat: repeat-y;
    background-position: top center;
    padding-top: 24px;
    margin-top: 10px;
}
.gallerytitle {
    position: absolute;
    z-index: 1;
    bottom: 54px;
    left: 0;
}
.gallerytitle span {
    height: 57px;
    display: inline-block;
    line-height: 52px;
    padding-left: 12px;
    float: left;
    background-color: black;
    color: white;
}
.gallerytitle p {
    height: 57px;
    width: 30px;
    background: url(../img/titlegallery.png) right no-repeat;
    float: right;
}
.gallerylink {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.gallerydesc {
    padding: 12px 15px;
}
.form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
.form form {
    width: 770px;
    height: 380px;
    background: url(../img/backarend.png) 529px top no-repeat white;
    border-radius: 0px;
    margin: 80px auto 0 auto;
    box-sizing: border-box;
    padding: 20px 30px;
}
.form button {
    border-radius: 4px;
    background-color: #d0011b;
    border: none;
    color: white;
    margin-top: 23px;
    padding: 20px 36px;
    font-size: 16px;
}
.form input {
    width: 407px;
    height: 47px;
    margin: 10px 0;
    border: solid 1px grey;
    border-radius: 3px;
    padding: 18px;
}
.form h3 {
    font-size: 16px;
    margin-bottom: 12px;
    display: inline-block;
    width: 400px;
}
.close {
    background-color: #333333;
    float: right;
    padding: 10px;

}
.form a {
    cursor: pointer;
}
.arend {
    text-decoration: underline;
    cursor: pointer;
}