/* Основное */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: url("../img/body_bg.png") top left repeat;
    color: #000;
    font: 14px/20px Tahoma;
    text-shadow: 0 1px 0 #fff;
}

a {
    color: #b30000;
}

a:hover {
    text-decoration: none;
}

label {
    cursor: pointer;
}

.clr {
    clear: both;
    font-size: 0;
    line-height: 0;
}

/* Каркас */

#page {
    width: 100%;
    min-width: 1004px;
    height: 100%;
    border-collapse:collapse;
    text-align: center;
}

#header {
    width: 100%;
    height: 94px;
    vertical-align: top;
}


#header .wrap {
    width: 100%;
    height: 94px;
    position: relative;
}

#content {
    width: 100%;
    padding: 25px 0 50px;
}

#footer {
    width: 100%;
    height: 60px;
    vertical-align: bottom;
}

#footer .wrap {
   width: 100%;
   height: 60px;
   position: relative;
}

#header .wrap,
#content,
#footer .wrap {
    *width: expression(document.body.clientWidth>1004?'100%':'1004px'); /* IE Fix */
}

/* Меню */

#menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("../img/head_bg.png") top left repeat-x;
}

#menu .home {
    display: inline-block;
    width: 206px;
    height: 94px;
    background: url("../img/menu_home.png") top left no-repeat;
}

#menu .home a {
    display: block;
    width: 172px;
    height: 92px;
    margin: auto;
}

#menu .item {
    display: inline-block;
    width: 85px;
    height: 92px;
    color: #fff;
    font: 13px/16px Tahoma;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
    vertical-align: top;
}

#menu .item.sel,
#menu .item:hover {
    color: #efbf51;
}

#menu .item span {
    display: block;
    width: 52px;
    height: 45px;
    margin: 0 auto;
    background: url("../img/menu_icons4.png") no-repeat;
}

#menu .item .num { background-position: 0 0; }
#menu .item .joke { background-position: -55px 0; }
#menu .item .say { background-position: -107px 0; }
#menu .item .pass { background-position: -165px 0; }
#menu .item .tick { background-position: -220px 0; }
#menu .item .qu { background-position: -281px 0; }
#menu .item .rl { background-position: -342px 0; }
#menu .item .ask { background-position: -392px 0; }
#menu .item .fact { background-position: -445px 0; }

#menu .item.sel .num, #menu .item:hover .num { background-position: 0 -52px; }
#menu .item.sel .joke, #menu .item:hover .joke { background-position: -55px -52px; }
#menu .item.sel .say, #menu .item:hover .say { background-position: -107px -52px; }
#menu .item.sel .pass, #menu .item:hover .pass { background-position: -165px -52px; }
#menu .item.sel .tick, #menu .item:hover .tick { background-position: -220px -52px; }
#menu .item.sel .qu, #menu .item:hover .qu { background-position: -281px -52px; }
#menu .item:hover .rl { background-position: -342px -51px; }
#menu .item.sel .ask, #menu .item:hover .ask { background-position: -392px -50px; }
#menu .item.sel .fact, #menu .item:hover .fact { background-position: -445px -52px; }

/* Дополнительная информация снизу */

#ad {
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    margin-right: 275px;
    height: 80px;
    background: url("../img/foot_bg.png") right bottom repeat-x;
    color: #000;
    font: 13px/20px Tahoma;
}

#ad .vk-app {
    position: absolute;
    right: 10px;
    bottom: 40px;
    padding-right: 24px;
    background: url("../img/vk_icon.png") right 2px no-repeat;
    color: #000;
}

#ad .stat {
    position: absolute;
    right: 10px;
    bottom: 20px;
    text-align: right;
    color: #000;
    line-height: 16px;
}

#ad .vote-fav {
    position: absolute;
    right: 10px;
    bottom: 30px;
    border-bottom: dashed 1px #000;
    color: #000;
    line-height: 14px;
    cursor: pointer;
}

#ad .vote-fav:hover {
    border-bottom: solid 1px transparent;
}

#ad .to-say-fav {
    position: absolute;
    right: 10px;
    bottom: 30px;
    color: #000;
    line-height: 14px;
}

#ad .to-joke-fav {
    position: absolute;
    right: 10px;
    bottom: 45px;
    color: #000;
    line-height: 14px;
}

#ad .to-fact-fav {
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: #000;
    line-height: 14px;
}

/* Обратная связь */

#fb {
    position: absolute;
    right: 0;
    left: 50%;
    bottom: 0;
    margin-left: 275px;
    height: 20px;
    background: url("../img/foot_bg.png") left bottom repeat-x;
}

#fb .grp {
    position: absolute;
    left: 10px;
    bottom: 20px;
    width: 220px;
    height: 34px;
    background: #000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 8px rgba(179, 0, 0, .5);
    -moz-box-shadow: 0 0 8px rgba(179, 0, 0, .5);
    -ms-box-shadow: 0 0 8px rgba(179, 0, 0, .5);
    -o-box-shadow: 0 0 8px rgba(179, 0, 0, .5);
    box-shadow: 0 0 8px rgba(179, 0, 0, .5);
    overflow: hidden;
    z-index: 1;
}

/* Социальный блок */

#socical {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 550px;
    height: 48px;
    margin-left: -275px;
    padding-top: 12px;
    background: url("../img/soc_bg.png") no-repeat;
}

#socical .b-share__handle {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

/* WebMoney */

#wm {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 65px;
    margin-left: -90px;
}

/* Заколовок */

#caption {
    font: 35px/48px Tahoma;
}

/* Описание */

#description {
    margin: 15px 0 0;
}

/* Кнопка */

#button {
    position: relative;
    width: 390px;
    height: 111px;
    margin: 30px auto 0;
    background: url("../img/but_bg.png") left top no-repeat;
    cursor: pointer;

    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#button.main {
    background-image: url("../img/but_main_bg.png");
}

#button:active {
    background-position: left bottom;
}

/* Слайдер */

.ui-slider-horizontal {
    position: relative;
    width: 260px;
    height: 11px;
    margin: 8px auto 5px;
    background: url("../img/slider_bg.png") top left no-repeat;
}

.ui-slider-range {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 11px;
    background: url("../img/slider_range.png") top left no-repeat;
    z-index: 1;
}

.ui-slider-handle {
    position: absolute;
    top: -6px;
    width: 22px;
    height: 24px;
    margin-left: -11px;
    background: url("../img/slider_hand.png") top left no-repeat;
    cursor: pointer;
    z-index: 2;
}

/* Диалоговое окно */

#ad .dialog-init {
    position: absolute;
    right: 10px;
    bottom: 20px;
    border-bottom: dashed 1px #b30000;
    color: #b30000;
    line-height: 14px;
    cursor: pointer;
}

#ad .dialog-init:hover {
    border-bottom: solid 1px transparent;
}

#dialog,
#public,
#save {
    display: none;
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/dlg_bg.png") 0 0 repeat;
    cursor: pointer;
    z-index: 999998 !important;
}

.ui-dialog {
    position: absolute;
    padding: 4px;
    *padding-bottom: 0; /* IE Fix */
    background: url("../img/dlg_bg.png") top left repeat;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    z-index: 999999 !important;
}

.ui-dialog .ui-dialog-titlebar {
    position: absolute;
    right: 19px;
    font: 20px/36px Tahoma;
    top: 4px;
    left: 19px;
    cursor: default;
    z-index: 1;
}

.ui-dialog .ui-dialog-titlebar-close span {
    position: absolute;
    right: 0;
    top: -4px;
    display: block;
    width: 51px;
    height: 34px;
    background: url("/img/dlg_close.png") left top no-repeat;
    text-indent: -99999px;
    overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar-close:hover span {
    background-position: 0 -34px;
}

.ui-dialog .ui-dialog-content {
    padding: 40px 15px 15px;
    background: url("../img/body_bg.png") top left repeat;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 999999 !important;
}

.ui-dialog .ui-resizable-handle {
    font-size: 0;
    line-height: 0;
}

/* Голосование */

.vote {
    height: 17px;
    margin-top: 20px;
}

.vote .like {
    margin: 0 15px;
    padding-left: 20px;
    background: url("../img/like_icon.png") left 1px no-repeat;
    color: #000;
    cursor: pointer;
}

.vote .like:hover {
    background-position: 0 -26px;
}

.vote .dislike {
    margin: 0 15px;
    padding-left: 20px;
    background: url("../img/dislike_icon.png") left 4px no-repeat;
    color: #000;
    cursor: pointer;
}

.vote .dislike:hover {
    background-position: 0 -23px;
}

/* Поделиться */

#share {
    padding-right: 24px;
    background: url("../img/vk_icon.png") right top no-repeat;
    color: #000;
    overflow: hidden;
}

/* 404 страница */

#not-fount {
    font: 90px/90px Tahoma;
}

/* Главная страница */

#main {
    margin: 20px auto 0;
}

#main .imp {
    color: #b30000;
    margin-bottom: 20px;
}

#main .imp .dialog-init {
    border-bottom: dashed 1px #b30000;
    color: #b30000;
    line-height: 14px;
    cursor: pointer;
}

#main .imp .dialog-init:hover {
    border-bottom: solid 1px transparent;
}

/* Случайное число */

#number.single {
    position: relative;
    height: 200px;
    margin: 0 auto 5px;
    font: 180px/200px Tahoma;
    overflow: hidden;
}

#number.single .new {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

#number.single .new span {
    position: relative;
    top: -200px;
}

#number.multi {
    width: 800px;
    min-height: 100px;
    margin: 0 auto 5px;
    font: 80px/100px Tahoma;
}

#number.multi .cur span {
	margin-right: 25px; /* IE Fix */
}

#number-start,
#number-end {
    width: 72px;
    margin: 9px 5px;
    padding: 4px 3px 5px;
    background: url("../img/input_bg.png");
    border: solid 1px #b6b6b6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    color: #000;
    font: 14px/16px Tahoma;
    vertical-align: middle;
}

#number-start:focus,
#number-end:focus {
    background: #fff;
}

#number-unique {
    position: relative;
    top: -1px;
    margin: 0 0 0 15px;
    vertical-align: middle;
}

#unique {
    height: 17px;
}

#unique label {
    display: none;
}

#button.number {
    margin-top: 25px;
}

#save-init {
    visibility: hidden;
    border-bottom: dashed 1px #b30000;
    color: #b30000;
    cursor: pointer;
    font: 17px/20px Tahoma;
}

#save-init:hover {
    border-bottom-color: transparent;
}

#description.save-number {
    font: 18px/28px Tahoma;
}

#save-share {
    margin: 45px 0 8px;
    font: 14px/20px Tahoma;
}

#save-share .share42init {
    position: relative;
    top: 5px;
    display: inline-block;
}

#save-share .share42-item {
    margin: 0 0 0 6px !important;
}

#save-share input {
    width: 234px;
    margin: 9px 0 4px;
    padding: 4px 3px 3px;
    background: url("../img/input_bg.png");
    border: solid 1px #b6b6b6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    color: #000;
    font: 14px/16px Tahoma;
    vertical-align: middle;
}

#save-share input:focus {
    background: #fff;
}

#save {
    padding-top: 45px;
}

#save label {
    cursor: default;
    font: 700 13px/20px Tahoma;
}

#save .left {
    float: left;
    width: 220px;
}

#save .left label {
    position: relative;
    top: 8px;
    display: block;
    float: left;
    width: 68px;
    margin-right: 10px;
    cursor: default;
}

#save .left span {
    position: relative;
    top: 2px;
    margin-left: 10px;
}

#save hr {
    margin: 18px 0;
    border: none;
    border-top: dashed 1px #a5a5a5;
    border-bottom: dashed 1px #fff;
}

#save input {
    width: 460px;
    margin: 5px 0 3px;
    padding: 4px 3px 3px;
    background: url("../img/input_bg.png");
    border: solid 1px #b6b6b6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    color: #000;
    font: 14px/16px Tahoma;
    vertical-align: middle;
}

#save .left input {
    width: 125px;
}

#save input[name="sum"] {
    width: 65px;
}

#save input.err {
    border-color: #f00;
}

#save input:focus {
    background: #fff;
}

#save button {
    float: right;
    width: 232px;
    height: 67px;
    margin: -1px 0 8px;
    border: none;
    background: url("../img/pay_but.png") left top no-repeat;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#save button:active {
    background-position: left bottom;
}

/* Пароль */

#password {
    position: relative;
    height: 160px;
    margin: 10px auto 0;
    font: 100px/160px Tahoma;
    overflow: hidden;
}

#password .new {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

#password .new span {
    position: relative;
    top: -160px;
}

#description.password {
    line-height: 24px;
}

#password-number,
#password-symbol {
    position: relative;
    top: -1px;
    margin: 0 0 0 15px;
    vertical-align: middle;
}

/* Счастливый билет */

#ticket {
    height: 192px;
    margin: 20px auto 60px;
    position: relative;
}

#ticket .wrap {
    width: 447px;
    height: 192px;
    margin: auto;
    font: 80px/186px Tahoma;
}

#ticket.lucky .wrap {
    color: #007e18;
    background: url("../img/ticket_bg.png") left top no-repeat;
}

#ticket.unlucky .wrap {
    color: #b30000;
    background: url("../img/ticket_bg.png") left bottom no-repeat;
}

#ticket .text {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 500px;
    margin-left: -250px;
}

#ticket.lucky .text span {
    color: #007e18;
}

#ticket.unlucky .text span {
    color: #b30000;
}

/* Мудрое высказывание */

#saying {
    width: 650px;
    min-height: 137px;
    margin: 20px auto 0;
}

#saying .text {
    display: table-cell;
    width: 650px;
    height: 100px;
    font: 17px/20px Tahoma;
    text-indent: 20px;
    text-align: justify;
    vertical-align: middle;
}

#saying .author {
    display: block;
    margin-top: 10px;
    text-align: right;
    font: 16px/20px Tahoma;
}

#description.saying {
    line-height: 24px;
}

/* Шутка */

#joke {
    width: 650px;
    min-height: 77px;
    margin: 20px auto 0;
}

#joke .text {
    display: table-cell;
    width: 650px;
    height: 40px;
    font: 17px/20px Tahoma;
    vertical-align: middle;
}

#description.joke {
    line-height: 24px;
}

/* Факт */

#fact {
    width: 650px;
    min-height: 77px;
    margin: 20px auto 0;
}

#fact .text {
    display: table-cell;
    width: 650px;
    height: 40px;
    font: 17px/20px Tahoma;
    vertical-align: middle;
}

#description.fact {
    line-height: 24px;
}

/* Форма добавления контента */

#user-content {
    position: relative;
}

#user-content label {
    display: block;
    margin: 10px 0 5px;
}

#user-content input {
    width: 458px;
    padding: 4px 3px 5px;
    background: url("../img/input_bg.png");
    border: solid 1px #b6b6b6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    color: #000;
    font: 14px/16px Tahoma;
    vertical-align: middle;
 }

#user-content textarea {
    width: 460px;
    height: 150px;
    background: url("../img/input_bg.png");
    border: solid 1px #b6b6b6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
}

#user-content input:focus,
#user-content textarea:focus {
    background: #fff;
}

#user-content .send {
    position: relative;
    width: 232px;
    height: 67px;
    margin: 20px auto 0;
    border: none;
    background: url("../img/dlg_but.png") left top no-repeat;
    cursor: pointer;
	
	-moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#user-content .send:active {
    background-position: left bottom;
}

#user-content .succ {
    display: none;
    margin-top: 20px;
    color: #007e18;
    text-align: center;
}

#widget-content textarea {
    width: 460px;
    height: 60px;
    margin: 10px 0;
    padding: 14px 4px 4px;
    background: url("../img/input_bg.png");
    border: solid 1px #b6b6b6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
}

#widget-contentt textarea:focus {
    background: #fff;
}

/* Вопрос */

#question {
    width: 640px;
    min-height: 77px;
    margin: 20px auto 0;
}

#question .text {
    display: table-cell;
    width: 650px;
    height: 46px;
    font: 17px/20px Tahoma;
    vertical-align: middle;
}

#question .text .lvl-1,
#question .text .lvl-2,
#question .text .lvl-3 {
    position: relative;
    top: 5px;
    *top: 0px; /* IE Fix */
    display: inline-block;
    width: 21px;
    height: 22px;
    margin-right: 6px;
    background: url("../img/level_bg.png") no-repeat;
}

#question .text .lvl-1 { background-position: 0 0; }
#question .text .lvl-2 { background-position: 0 -23px; }
#question .text .lvl-3 { background-position: 0 -46px; }


#question .answer {
    width: 500px;
    margin: 15px auto 0;
}

#question .answer .item {
    float: left;
    width: 230px;
    margin: 10px 10px 0;
    cursor: pointer;
}

#question .answer .item.suc {
    color: #007e18;
}

#question .answer .item.suc .num {
    background-position: 0 -20px;
}

#question .answer .item.err {
    color: #b30000;
}

#question .answer .item.err .num {
    background-position: 0 -40px;
}

#question .answer .item.comp {
    cursor: default;
    text-decoration: none !important;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#question .answer .item:hover {
    text-decoration: underline;
}

#question .answer .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background: url("../img/ans_bg.png") 0 0 no-repeat;
    color: #fff;
    font-size: 14px;
	line-height: 18px;
    text-shadow: none;
    text-align: center;
}

/* Предсказания */

#caption.ask {
    width: 900px;
    margin: 0 auto;
}

#ask {
    margin: 20px auto 40px;
}

#ask .ball-wrap {
    width: 281px;
    height: 281px;
    margin: 0 auto;
}

#ask .ball {
    position: relative;
    width: 281px;
    height: 281px;
    margin: 0 auto;
    background: url("../img/ball.png");
}


#ask .ball .prediction,
#ask .ball .empty {
    position: absolute;
    top: 74px;
    left: 74px;
    width: 133px;
    height: 133px;
}

#ask .ball .prediction {
    width: 93px;
    height: 83px;
    padding: 50px 20px 0;
    background: url("../img/ball_pred.png");
    color: #fff;
    text-shadow: none;
    font: 11px/12px Tahoma;
}

#ask .ball .empty {
    background: url("../img/ball_emp.png");
}

#ask-question {
    width: 250px;
    margin: 9px 5px;
    padding: 4px 3px 5px;
    background: url("../img/input_bg.png");
    border: solid 1px #b6b6b6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 0 #fff, inset 0 1px 6px -2px rgba(0, 0, 0, .5);
    color: #000;
    font: 14px/16px Tahoma;
    vertical-align: middle;
}

#ask-question:focus {
    background: #fff;
}

#ad .dialog-prediction {
    position: absolute;
    right: 10px;
    bottom: 28px;
    border-bottom: dashed 1px #b30000;
    color: #b30000;
    line-height: 14px;
    cursor: pointer;
}

#ad .dialog-prediction:hover {
    border-bottom: solid 1px transparent;
}

#last-prediction p {
    margin: 5px 0;
}

#last-prediction p.prediction  b {
    color: #28008a;
}

#last-prediction .sep {
    margin: 10px 0;
    border-top: dashed 1px #a5a5a5;
    border-bottom: dashed 1px #fff;
}

/* Дополнительно */

#ad .prog {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#ad .prog-bar {
    position: relative;
    width: 151px;
    height: 7px;
    background: url("../img/prog_bg.png") left top no-repeat;
}

#ad .prog-bar .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 151px;
    height: 7px;
    background: url("../img/prog_bg.png") left bottom no-repeat;
}

#ad .prog-reset {
    position: absolute;
    top: 2px;
    left: -30px;
    width: 20px;
    height: 20px;
    background: url("../img/reset_icon.png") top left no-repeat;
    cursor: pointer;
}

#gad {
	margin: 20px auto 0;
}

.gadt {
	margin: 20px auto 0;
}

.gadb {
	margin: 0 auto 20px;
}