.title-block {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    float: left;
    padding: 0 0 0 25px;
    background: url(../blue-head-bg.png) no-repeat 0 0;
}

.title-block h2 {
    margin: 0;
    padding: 0 7px 0 7px;
    height: 41px;
    font: bold 18px/36px "Trebuchet MS", Arial, Helvetica, Sans-Serif;
    text-align: center;
}

.title-block.red {
    float: left;
    padding: 0 0 0 25px;
    background: url(../red-head-bg.png) no-repeat 0 0;
}

.title-block__red_lbg {
    position: absolute;
    top: 0;
    right: -25px;
    width: 25px;
    height: 41px;
    float: left;
    background: url(../red-head-bg.png) no-repeat 100% 0;
}

.title-block.orange {
    float: left;
    padding: 0 0 0 25px;
    background: url(../orange-head-bg.png) no-repeat 0 0;
}

.title-block__orange_lbg {
    position: absolute;
    top: 0;
    right: -25px;
    width: 25px;
    height: 41px;
    float: left;
    background: url(../orange-head-bg.png) no-repeat 100% 0;
}

.title-block__blue_lbg {
    position: absolute;
    top: 0;
    right: -25px;
    width: 25px;
    height: 41px;
    float: left;
    background: url(../blue-head-bg.png) no-repeat 100% 0;
}

.title-block h2 a {
    color: #fff;
    text-decoration: none;
    background: url(../bullet02.png) no-repeat 100% 9px;
    padding: 0 28px 3px 0;
    display: inline-block;
}

.title-block h2 a:hover {
    background-position: 100% -41px;
}

.title-block h2 a.pressed {
    background-position: 100% -91px;
}

.title-block h2 a span {
    border-bottom: solid 1px #fff;
    /*background: url(/images/separator01.gif) repeat-x 0 100%;*/
}

.title-block h2 a:hover span {
    background: none;
}